ul.thumbnails.image_picker_selector {
	margin-top: 20px;
	float: left;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	overflow: auto;
	padding: 0px;
}

ul.thumbnails.image_picker_selector li {
  float: left; 
  margin: 0px 12px 12px 0px;
  position:relative;
}

ul.thumbnails.image_picker_selector li .thumbnail {
	border: 2px solid white;
	background: black;
}

ul.thumbnails.image_picker_selector li .thumbnail.selected {
	border: 2px solid rgba(233, 86, 42, 0.8);
}

ul.thumbnails.image_picker_selector li .thumbnail div.desc{
	margin: 0 !important;
	background-color: rgba(0, 0, 0, 0.8);
	height: 50px;
}

ul.thumbnails.image_picker_selector li .thumbnail div.desc p{	
	line-height: 30px;
	padding-left: 20px;
	text-align: left;
	color: #fff;
}

ul.thumbnails.image_picker_selector li .thumbnail.selected div.desc p{
}