form#contact_form{
	margin-bottom: 1px;
}

form#contact_form h3{
	color: #000;
	text-align: left;
	line-height: 33px;
	font-size: 23px;
}

form#contact_form input,
form#contact_form textarea{
	background: transparent url(../image/background_dark.png) repeat;
	color: #888;
	text-align: left;	
	padding-left: 10px;
	width:380px;
}

form#contact_form textarea{
	padding-top: 10px;
	height: 150px;
}

form#contact_form input[type="submit"]{
	color: #fff;
	font-size: 17px;
	text-align: right;
	width:400px;
	padding-right: 10px;
	margin: 0;
	margin-top: -1px;
	height: 50px;
}

form#contact_form input[type="submit"]:hover {
	color: rgba(233, 86, 42, 1);
}

section#bottom{
	min-height: 50px;
	background: #000 url(../image/background_dark.png);
}

section#bottom footer h3{
	text-align: right;
	line-height: 100px;
	font-size: 13px;
	letter-spacing: 0px;
	border-top: 3px solid rgba(233, 86, 42, 0.8);
}