.news_form{
}
	.news_form h3{
		line-height:40px;
	}
	.news_form input[type="text"]{
		background-color:rgba(255, 255, 255, 0.95);
		color:#47465a;

		width:100%;	
		float:left;
		padding: 5px 10px;
		margin: 0 0 1px -20px;
	}	
	.news_form textarea{
		background-color:rgba(255, 255, 255, 0.95);
		color:#47465a;

		width:100%;		
		padding: 5px 10px;
		margin: 0 0 -3px -20px;
	}
	.news_form textarea#id_descricao_breve{
		width:100%;
		height:	50px;
	}
	.news_form textarea#id_descricao{
		height:200px;
	}
