section.news {

}
	section.news div.new {
		background-color: #000;
		border-bottom: 1px solid #F1DBB6;
		margin-bottom: 10px;
		padding: 10px;
	}
		section.news div.new a{
			color: #fff;
			font-size: 22px;
			font-weight: 600;
			letter-spacing: -1px;
			line-height: 22px;
			margin: 10px 0;
			word-spacing: 2px;

			-moz-transition: ease-in-out .5s all;
			-o-transition: ease-in-out .5s all;
			-webkit-transition: ease-in-out .5s all;						
			transition: ease-in-out .5s all;
		}

		section.news div.new a:hover,
		section.news div.new p a.mini:hover span{
			color: rgba(233, 86, 42, 1)
		}

		section.news div.new p{
			color: rgba(255, 255, 255, 0.9);
			font-size: 14px;
		}
			section.news div.new p a.mini{				
				padding: 5px 10px;
			}

			section.news div.new p a.mini span{
				color: #F1DBB6;
			}