#footer {
    margin-bottom: 18px;

    footer {
    	background: $white;
        margin-top: 8px;

        section {
            header {
                position: relative;
                background: $darker-white;
                border-bottom: 1px solid $lighter-gray;

                h6 {
                    margin: 0;
                    padding: 20px;
                }

                .cell-divider {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 1px;
                    height: 35px;
                    background: $lighter-gray;
                }
            }

            div {
                min-height: 100px;
                margin-top: 10px;
                margin-bottom: 20px;

                p {
                    margin: 0;
                    padding: 5px 15px 2px 15px;
                }

                a {
                    display: block;
                    padding: 5px 15px 2px 15px;
                    font-size: 0.7rem;
                }
            }
        }
    }

    .copyright {
        background: $white;
        border-top: 1px solid $lighter-gray;

        p {
            padding: 20px;
            margin: 0;
        }
    }
}