#header {
	margin-top: 40px;

    header {

        .logo {

            img {
                display: inline-block;
                margin-top: -25px;
            }

            .museum {
                display: inline-block;
                margin-left: 5px;

                h4 {
                    opacity: 0.9;

                    strong {
                        display: block;
                        font-weight: 700;
                    }
                }
            }
        }

        section {
            background: #fff;
            padding-top: 15px;
            padding-bottom: 15px;
            margin-bottom: 1px;
            color: #6e6e6e;

            .search {
                text-align: left;

                input {
                    margin: 0;
                    color: $dark-gray;
                }

                .magnifier {
                    display: block;
                    padding: 10px 0 0 15px;
                    background: $darkest-white;
                    color: $dark-gray;
                    height: 36px;
                }
            }
        }

        nav {
            background: #fff;

            ul {
                text-align: right;
                margin: 0;

                li {
                    display: inline-block;

                    a {
                        border-bottom: 3px solid;
                        border-color: $white;
                        display: block;
                        font-size: 14px;
                        margin: 20px 10px 0 10px;
                        padding-bottom: 17px;

                        &.active {
                            border-color: $orange;
                        }
                    }

                }
            }
        }
    }
}