div#menu{
	background:#fff url('../image/background_fabric_of_squares_gray.png');

	height:150px;
}
div#menu_enter{
	background:#fff;
}
	section#main-menu div#logo-container{
		padding:60px 0;

	}
	section#main-menu div#logo-container h2{
		text-align:left;
	}
	section#main-menu div#logo-container div.separator{
		border-left:1px solid rgba(233, 86, 42, 0.8);

		height:30px;
		margin:0 25px;		
	}
	section#main-menu div#logo-container h2:last-child{
		color:rgba(233, 86, 42, 0.8);
	}
	section#main-menu nav{

	}
		section#main-menu nav ul{
			padding:64px 0;
		}
			section#main-menu nav ul li a{				
				color:rgba(233, 86, 42, 0.8);
				
				font-weight:300;
				font-size:17px;
				line-height:30px;
				float:right;
				margin-left:26px;

				-moz-transition:ease-in-out .5s all;
				-o-transition:ease-in-out .5s all;
				-webkit-transition:ease-in-out .5s all;
				transition:ease-in-out .5s all;
			}
			section#main-menu nav ul li a:hover{
				color:rgba(233, 86, 42, 1);
				-webkit-text-shadow: 0px 0px 2px rgba(233, 86, 42, 0.8);
				-moz-text-shadow: 0px 0px 2px rgba(233, 86, 42, 0.8);
				text-shadow: 0px 0px 2px rgba(233, 86, 42, 0.8);
			}
			section#main-menu nav ul li a.active{
				color:#47465a;
				-webkit-text-shadow: none;
				-moz-text-shadow: none;
				text-shadow: none;
			}