{% extends 'base-presentation.html' %}

{% load thumbnail %}

{% block title %}
Bem-vindo ao museu {{ informations.nome|lower }}
{% endblock %}

{% block header %}
{% include 'apresentacao/partials/header.html' %}
{% endblock %}

{% block container %}
  <style>
    .demo-card-square.mdl-card {
      width: 350px;
      height: 350px;
    }
    .demo-card-square > .mdl-card__title {
      color: #fff;
      background: rgba(1, 112, 131, 0.5);
    }
  </style>

<!-- Image card -->
<style>

  }
</style> 
<section id="coletaneatotal">
<div class="mdl-grid">
    {% if collectaneas %}
    {% for collectanea in collectaneas %}
      <div class="mdl-cell mdl-cell--4-col mdl-grid">
       {% thumbnail collectanea.pecas.all.0.imagens.0.imagem "256x256" crop="center" as im %}
        <div class="demo-card-image mdl-card mdl-shadow--2dp" style="background: url({{im.url}}) center / cover;">

          <div class="mdl-card__title mdl-card--expand"></div>
          <div class="mdl-card__actions">
            <span class="demo-card-image__filename">
            {{ collectanea.nome|truncatechars:45 }}
            <span>{{ collectanea.data_criacao|date:'d \d\e F \d\e Y' }}</span>
            <a href='/apresentacao/collectanea/{{ collectanea.pk }}/'class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
              <i class="material-icons">add</i>
            </a>
            </span>
          </div>
        </div>
        {% endthumbnail %}
      </div>
     {% endfor %}
    {% endif %}
</section>
</div>
<!-- Event card -->

  <!-- <div class=" mdl-grid" style="padding:0px;padding:20px">

    {% if collectaneas %}
    {% for collectanea in collectaneas %}
    <div class="demo-card-square mdl-card mdl-shadow--2dp" style="margin:20px">
      {% thumbnail collectanea.pecas.all.0.imagens.0.imagem "570x320" crop="center" as im %}
      <img src="{{ im.url }}" style="width: 100%">
      {% endthumbnail %}
      <div class="mdl-card__title mdl-card--expand">
        <h6 class="mdl-card__title-text">{{ collectanea.nome|truncatechars:45 }}</h6>
      </div>
      <div class="mdl-card__supporting-text">
        Criada em {{ collectanea.data_criacao|date:'d \d\e F \d\e Y' }}
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a href='/apresentacao/collectanea/{{ collectanea.pk }}/' class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          Ver mais
        </a>
      </div>

    </div> 
  
    {% endfor %}
    {% endif %}
  </div> -->

                       <!--      <li class='large-12 medium-12 small-24 columns'>
                                <a href='/apresentacao/collectanea/{{ collectanea.pk }}/'>
                                    <figure>
                                        <figcaption>
                                            <h5>{{ collectanea.nome|truncatechars:45 }}</h5>
                                            <p>Criada em {{ collectanea.data_criacao|date:'d \d\e F \d\e Y' }}</p>
                                            <span class='arrow-down'></span>
                                        </figcaption>
                                    </figure>
                                </a>
                              </li> -->
<!--     <div id='container' class='clearfix'>
        <div class='row collapse'>
            <div class='large-8 columns'>
                <section class='search-column'>
                    <header class='row'>
                        <h5>Pesquisa</h5>
                    </header>
                    <form action='/apresentacao/collectaneas/search' method='get' data-default='true' class='search row collapse'>
                        <div class='large-20 columns'>
                            <input id='search' name='keywords' type='text' placeholder='frases, palavras, termos e etc'>
                        </div>
                        <div class='large-4 columns'>
                            <a class='magnifier' data-submit data-icon='8'></a>
                        </div>
                    </form>
                </section>
            </div>
            <div class='large-16 columns'>
                <ul class='collectaneas-list row collapse'>
                    {% if collectaneas %}
                        {% for collectanea in collectaneas %}
                            <li class='large-12 medium-12 small-24 columns'>
                                <a href='/apresentacao/collectanea/{{ collectanea.pk }}/'>
                                    <figure>
                                        <figcaption>
                                            <h5>{{ collectanea.nome|truncatechars:45 }}</h5>
                                            <p>Criada em {{ collectanea.data_criacao|date:'d \d\e F \d\e Y' }}</p>
                                            <span class='arrow-down'></span>
                                        </figcaption>
                                        {% thumbnail collectanea.pecas.all.0.imagens.0.imagem "570x320" crop="center" as im %}
                                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                                        {% endthumbnail %}
                                    </figure>
                                </a>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>
      </div> -->
      {% endblock %}

      {% block footer %}
      {% include 'apresentacao/partials/footer.html' %}
      {% endblock %}

      {% block css %}
      {% endblock %}

      {% block js %}
      {% endblock %}