{% extends 'base-presentation.html' %}

{% block title %}
    Bem-vindo ao museu {{ informations.nome|lower }}
{% endblock %}

{% block header %}
    {% include 'apresentacao/partials/header.html' %}
{% endblock %}

{% block container %}
<div id="orbit-descricoest">
<div class="mdl-grid" style="padding:0; height:400px; padding-top:14px">
  <h4 data-sr="enter right,wait 0.5s" style="margin:36px;color: #B8F5D9">Formulário de contato</h4>   <div data-sr="enter right, hustle 20px,wait 0.8s" class="mdl-cell mdl-cell--10-col mdl-cell--6-col-tablet mdl-cell--2-col-phone">
      <form action='/apresentacao/mail/' method='post'>
        {% csrf_token %}
        {{ contact_form }}<br>
      <button type='submit' class='button tiny' style="margin-bottom:20px">Enviar</button>
      </form>
    </div>
    {% if news %}
      <section class='latest-news'>         
        {% for new in news %}        
          <h6>{{ new.titulo }}</h6>
          <p class='text-justify'>{{ new.descricao_breve }}</p>
          <p class='date'>{{ new.data_de_criacao|date:'d \d\e F \d\e Y'  }}</p>
          <a href='' class='underline'>continue lendo</a>                
        {% endfor %}       
      </section>
    {% endif %}
</div>     
</div>
{% endblock %}

{% block footer %}
    {% include 'apresentacao/partials/footer.html' %}
{% endblock %}

{% block css %}
{% endblock %}

{% block js %}
{% endblock %}