{% extends 'base-presentation.html' %}

{% load thumbnail %}

{% block container %}

<section id="telapresentacao" style="background-color: #1a774c">
  <div data-sr='' class="mdl-grid">
    <div>
      <h4>MEMÓRIAS ÉTNICAS DO SERIDÓ</h4>
      <h6 style="font-family: 'Open Sans', sans-serif ">Fundado em 10 de Dezembro de 2013 O Museu Virtual “Tronco, ramos e raízes!”, dedica-se à valorização e difusão do patrimônio étnico do Seridó.</h6>
    </div>
  </div>

</section>
<section id="quemsomos">
  <div class="mdl-grid" style="padding:0;">
    <div data-sr="enter left, hustle 20px,wait 0.5s" class="mdl-cell mdl-cell--7-col mdl-grid mdl-cell--12-col-tablet" style="padding:0; margin:0">
      <ul data-orbit>
        {% for part in main_parts %}
        <li data-orbit-slide="main-peca-{{ part.id }}">
          {% thumbnail part.imagens.0.imagem "1200x675" crop="center" as im %}
            <img src="{{ im.url }}">
          {% endthumbnail %}
        </li>{% endfor %}
      </ul>
    </div>
        <div data-sr="enter left, hustle 20px,wait 1.0s" class="mdl-cell mdl-cell--5-col mdl-grid mdl-cell--12-col-tablet">
          <div class="mdl-cell mdl-cell--12-col mdl-grid">
            <h4 style='margin: 0px 0 5px;'>Nossa Concepção</h4>

            <p  style='text-align: justify; margin: 0px 0 0px;'>O Museu “Tronco, ramos e raízes!” tem um formato digital e dedica-se à conservação, investigação, difusão e exposição da cultura imaterial das referências indígenas e afro-brasileiras do Seridó, no Estado do Rio Grande do Norte, Brasil.
            </p>
          </div>
          <div class="mdl-cell mdl-cell--12-col mdl-grid" style="margin:0">
            <div style="  position: absolute;  right: 20px;  bottom: 20px;">
              <a href='/apresentacao/institutional/conception' class="mdl-button mdl-js-button" style="color: #1a774c;"> leia mais </a>
            </div>
          </div>
        </div>
    </div>
</section>
<!-- informações peca -->
<section id="infocoletanea">
  <div class="mdl-grid">
    <div data-sr='' class="mdl-cell mdl-cell--12-col mdl-grid">
      <div style="width:100%" style="color:#ffffff">
        <h4>COLETÂNEAS MULTIMÍDIAS</h4>
        <h6>Todas as informações sobre obras de nossa cultura em um só lugar.</h6>
      </div>
      <div data-sr="enter left, hustle 20px" class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
        <div style="width:100%">
          <div class="icon">
          <i class="fa fa-video-camera"></i>
          </div>
          <h6>Vídeos</h6>
        </div>
      </div>
      <div data-sr="enter left, hustle 20px,wait 0.2s" class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
        <div style="width:100%">
          <div class="icon">
          <i class="fa fa-camera"></i>
          </div>
          <h6>Fotos</h6>
        </div>
      </div>
      <div data-sr="enter left, hustle 20px,wait 0.3s" class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
        <div style="width:100%">
          <div class="icon">
          <i class="fa fa-volume-up"></i>
          </div>
          <h6>Audios</h6>
        </div>
      </div>
      <div data-sr="enter left, hustle 20px,wait 0.4s" class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
        <div style="width:100%">
          <div class="icon">
          <i class="fa fa-file-text-o"></i>
          </div>
          <h6>Documentos</h6>
        </div>
      </div>  
    </div>
  </div>
</section>
<!-- Fim de informações peca -->
<!-- coletaneas -->

<section id="exposicoes">
  <div data-sr=''class="mdl-cell mdl-cell--6-col mdl-grid">
    <div style="width:100%; padding-top:10px">
      <h3> Útimas Coletâneas</h3>
      <h6>Conheça algumas de nossas coletâneas abaixo</h6>
    </div>
  </div>
  <div class="mdl-grid" style="background: #1a774c; padding:0">
    {% if collectaneas %}
      {% for collectanea in collectaneas %}
        <div class="mdl-cell mdl-cel--4-col">
          <div class="expo-img" style="margin:0 auto">
            <a href='/apresentacao/collectanea/{{ collectanea.pk }}/'>
              {% thumbnail collectanea.pecas.all.0.imagens.0.imagem "600x600" crop="center" as im %}
                <img data-sr='' src="{{ im.url }}" style="width: 100%; border-radius: 50%; border-style: solid; border-color:#fff">
                <div class="info">
                  <h5>{{ collectanea.nome|truncatechars:45 }}</h5>
                </div>
              {% endthumbnail %}

              {% if not collectanea.pecas.all.0.imagens.0.imagem %}
                <img data-sr='' src="/static/apresentacao/img/logotroncohome.jpg" style="padding-top:20px;width: 100%">
                <div class="info">
                  <h5>{{ collectanea.nome|truncatechars:45 }}</h5>
                </div>
                <div class="author">Coletânea sem foto</div>
           {% endif %}
            </a>
          </div>
        </div>
      {% endfor %}
    {% endif %}
  </div>
</section>
<!-- fim coletanea -->

<!-- Noticias -->
{% if news %}
<section id="ultimanoticia">
  <div data-sr="enter left "class="mdl-cell mdl-cell--12-col">
    <div style="width:100%; padding-top:10px">
      <h3> Útimas Notícias</h3>
      <h6> Acompanhe as últimas notícias que está acontecendo nas memórias do seridó.</h6>
    </div>
  </div>
  <div class="mdl-grid">
      {% for new in news %}
    <div data-sr="enter left" class="noticia mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
        <div>
          <strong><h5>{{ new.titulo }}</h5></strong>
          <p class='date' style="margin-bottom:0">{{ new.data_de_criacao|date:'d \d\e F \d\e Y'  }}</p>
          <a href='/apresentacao/new/{{ new.pk }}/' class='underline' style="color:#51c18d">continue lendo</a>
        </div>
    </div>
      {% endfor %}
  </div>
</section>
{% endif %}
<!-- Fim noticias -->

<!-- Equipe -->
<section id="equipe">
  <div data-sr='' class="mdl-grid equipecont">
    <div class="mdl-cell mdl-cell--12-col mdl-grid">
      <div style="width:100%">
        <h3> Nossa Equipe</h3>
      </div>
    </div>

    <div data-sr="enter left, hustle 20px" class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
      <div class="expoe-img">
        <img src="/static/apresentacao/img/julie.jpg" style="border-radius: 130px; width: 130px">
        <div class="authore">Dra. Julie Antoinette Cavignac </div>
      </div>
    </div>
        
    <div data-sr="enter left, hustle 20px,wait 0.2s" class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
      <div class="expoe-img">
        <img src="/static/apresentacao/img/muri.jpg" style="border-radius: 130px; width: 130px">
        <div class="authore">Dr. Muirakytan Kennedy de Macedo </div>
      </div>
    </div>
        
    <div data-sr="enter left, hustle 20px,wait 0.3s" class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
      <div class="expoe-img">
        <img src="/static/apresentacao/img/rummenigge.jpg" style="border-radius: 130px; width: 120px">
        <div class="authore">Dr. Rummenigge Rudson Dantas </div>
      </div> 
    </div>
  </div>  
</section>
{% endblock %}
