{% extends 'base-presentation.html' %}

{% load thumbnail %}


{% block container %}

<style type="text/css">

  #telapresentacao {
    margin-top: 64px;
  }
  #telapresentacao > div{
    max-width:900px;
    color: #043F45; 
    margin-bottom:32px;
    text-align:center;
    padding: 60px 0;
  }
  #infocoletanea > div{
    max-width:900px;
    color: #043F45; 
    margin-bottom:32px;
    text-align:center;
    padding: 60px 0;
  }
  #exposicoes .expo-img{
    margin: 0;
    padding: 0;
    width: 25%;
  }

  @media(max-width: 768px) {
    #exposicoes .expo-img{
      width: 100%;
    } 
  }
  @media(min-width: 768px) {
    #exposicoes .expo-img{
      width: 50%;
    } 
  }
  @media(min-width: 920px) {
    #exposicoes .expo-img{
      width: 25%;
    } 
  }
  
  #quemsomos {
    position: relative;
    background-color: #f3f3f3;
    
    /*padding: 25px 0;*/
  }

  #quemsomos .mld-grid {
    padding: 0 !important;

  }
  #quemsomos > div {
  color: #043F45;
  }
  .quem-somos.mdl-card {
    width: 100%;
    background: rgba(255, 255, 255, 0.97);

  }
  .quem-somos > .mdl-card__actions {
    border-color: rgba(255, 255, 255, 0.2);
  }
  .quem-somos > .mdl-card__title {
    display: block;
  }
  .quem-somos > .mdl-card__title > p {
    margin-top: 0;
    font-size: 18px; 
  }
  .quem-somos > .mdl-card__actions {
    display: flex;
    box-sizing:border-box;
    align-items: center;
  }
  .quem-somos > .mdl-card__title,
  .quem-somos > .mdl-card__actions,
  .quem-somos > .mdl-card__actions > .mdl-button {
    color: #3b3b3b;
  }
</style>
<section id="telapresentacao">
  <div data-sr='' class="mdl-grid">
    <div>
      <h2>Memórias étinicos do Sérido</h2>
      <h6>Fundado em 10 de Dezembro de 2013 O Museu Virtual “Tronco, ramos e raízes!”, dedica-se à valorização e difusão do patrimônio étnico do Seridó.</h6>
    </div>
  </div>

</section>
<section id="quemsomos">
  <div class="mdl-grid" style="padding:0">
      <!-- <div style="color: rgba(233, 86, 42, 0.8);">
        <h3> Quem nós somos </h3>
      </div> -->
      <!-- <div data-sr="enter top" class="quem-somos mdl-card mdl-shadow--2dp "> -->
          <!-- <div class="mdl-card__title mdl-card--expand"> -->
        <div data-sr="enter left, hustle 20px,wait 0.5s" class="mdl-cell mdl-cell--6-col mdl-grid" style="padding:0; margin:0">
          <ul data-orbit>
                    {% for part in main_parts %}
                  <li data-orbit-slide="main-peca-{{ part.id }}">
                    {% thumbnail part.imagens.0.imagem "1200x675" crop="center" as im %}
                    <img src="{{ im.url }}">
                    {% endthumbnail %}
                  </li>{% endfor %}
                </ul>
        </div>
        <div data-sr="enter left, hustle 20px,wait 1.0s" class="mdl-cell mdl-cell--6-col mdl-grid">
           <!-- <div class="css">
            <img src="/static/apresentacao/img/bao.jpg">
          </div> -->
          <p><h3>Nossa Concepção</h3></p>

          <h6>O Museu “Tronco, ramos e raízes!” tem um formato digital e dedica-se à conservação, investigação, difusão e exposição da cultura imaterial das referências indígenas e afro-brasileiras do Seridó, no Estado do Rio Grande do Norte, Brasil. Seu princípio fundamental é disponibilizar gratuitamente informações sobre as práticas culturais, história e memória ligadas às populações seridoenses de procedência indígena e afro-brasileira. Para fins de divulgação, pesquisa e deleite social dispõe de vasto acervo digitalizado de documentos fotográficos, escritos e impressos, depoimentos e entrevistas, artigos, monografias, dissertações, teses, arquivos de áudio e vídeo.
          </h6>
        </div>
        <!-- </div> -->
      <!-- </div>     -->
  </div>
</section>
<!-- informações peca -->
<section id="infocoletanea">
  <div data-sr='' class="mdl-grid">
      <div class="mdl-cell mdl-cell--12-col mdl-grid">
        <div style="width:100%">
          <h3> Nossas Coletâneas dispõe de peças</h3>
          <h5>Tais como: Vídeos, fotos, áudios e documentos</h5>
        </div>
      </div>

        <div data-sr="enter left, hustle 20px" class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-grid">
          <div style="width:100%">
            <i class="fa fa-video-camera" style="font-size: 100px"></i>
          </div>
        </div>
        <div data-sr="enter left, hustle 20px,wait 0.2s" class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-grid">
          <div style="width:100%">
            <i class="fa fa-camera-retro" style="font-size: 100px"></i>
          </div>
        </div>
        <div data-sr="enter left, hustle 20px,wait 0.3s" class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-grid">
          <div style="width:100%">
            <i class="fa fa-file-audio-o" style="font-size: 100px"></i>
          </div>
        </div>
        <div data-sr="enter left, hustle 20px,wait 0.4s" class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-grid">
          <div style="width:100%">
            <i class="fa fa-file-text-o" style="font-size: 100px"></i>
          </div>
        </div>  
  </div>
</section>
<!-- Fim de informações peca -->
<!-- coletaneas -->

<section id="exposicoes">
  <div class="mdl-grid" style="background: white; padding:0">
    <!-- <div data-sr="enter left, hustle 20px">
      <h3> Últimas Exposições Adicionadas</h3>
    </div> -->
      {% if collectaneas %}
        {% for collectanea in collectaneas %}
          <div class="expo-img" style="">
            <a href='/apresentacao/collectanea/{{ collectanea.pk }}/'>
                {% thumbnail collectanea.pecas.all.0.imagens.0.imagem "600x400" crop="center" as im %}
                  <img src="{{ im.url }}" style="width: 100%">
                {% endthumbnail %}
            </a>
          </div>
        {% endfor %}
      {% endif %}
  </div>
</section>
<!-- fim coletanea -->

  {% endblock %}



  {% block footer %}
  {% include 'apresentacao/partials/footer.html' %}
  {% endblock %}