{% extends 'base-presentation.html' %}

{% load thumbnail %}

{% block container %}

<style type="text/css">
#exposicoes .mdl-grid{
  text-align: center;
  color: #043F45;
}
 #exposicoes .expo-img{
    position: relative;
    margin: 0;
    padding: 0;
    width: 25%;
  }
.expo-img .info{
  /*display: none;*/
  position: absolute;
  width: 100%;
  height: 0%;
  bottom:0;
  left: 0;
  background-color: rgba(96,125,139, 0.7);
  color: #FFF;
  text-align: center; 
  overflow: hidden;
}
.expo-img:hover .info{
   -webkit-animation-name: show-info; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 0.3s; /* Chrome, Safari, Opera */
    animation-name: show-info;
    animation-duration: 0.3s;
    height: 100%;
    padding: 50px;
}
.expo-img .author{
  /*display: none;*/
  position: absolute;
  width: 100%;
  height: 40px;
  opacity: 0;
  line-height: 40px;
  bottom: 0;
  background-color: #FFF;
  color: #043F45;
  padding: 0 25px;
  font-weight: bold;
  border-bottom: 1px solid #043F45;
  overflow: hidden;
}
.expo-img:hover .author{
   -webkit-animation-name: show-author; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
    animation-name: show-author;
    animation-duration: 1s;
    opacity: 1;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes show-info {
    from {height: 0;}
    to {height: 100%;}
}

/* Standard syntax */
@keyframes show-info {
    from {height: 0;}
    to {height: 100%;}
}
/* Chrome, Safari, Opera */
@-webkit-keyframes show-author {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Standard syntax */
@keyframes show-author {
    from {opacity: 0;}
    to {opacity: 1;}
}
#ultimanoticia > div{
  color: #043F45;
  text-align: center;
}
#ultimanoticia .mdl-grid{
  padding: 50px;
  background-color: #f3f3f3;
}
 #equipe .equipecont{
  position: relative;
    max-width:900px;
    color: #043F45; 
    margin-bottom:32px;
    text-align:center;
    padding: 60px 60px;
    margin: 0 auto;
  }

   #equipe .expoe-img{
    position: relative;
    margin: 0 auto;
    padding: 0;
  }

  #equipe .expoe-img img{
    -webkit-filter: sepia(1);
  }

  #equipe .expoe-img:hover img{
    -webkit-filter: sepia(0);
  }

.expoe-img .authore{
  /*display: none;*/
  position: relative;
  margin: 0 auto;
  width: 100%;
  opacity: 0;
  bottom: 0;
  background-color: #FFF;
  color: #043F45;
  padding: 0 25px;
  font-weight: bold;
  border-bottom: 1px solid #043F45;
  overflow: hidden;
}
.expoe-img:hover .authore{
   -webkit-animation-name: show-author; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
    animation-name: show-author;
    animation-duration: 1s;
    opacity: 1;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes show-authore {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Standard syntax */
@keyframes show-authore {
    from {opacity: 0;}
    to {opacity: 1;}
}

</style>

<section id="telapresentacao">
  <div data-sr='' class="mdl-grid">
    <div>
      <h3>Memórias étinicos do Sérido</h3>
      <h6>Fundado em 10 de Dezembro de 2013 O Museu Virtual “Tronco, ramos e raízes!”, dedica-se à valorização e difusão do patrimônio étnico do Seridó.</h6>
    </div>
  </div>

</section>
<section id="quemsomos">
  <div class="mdl-grid" style="padding:0">
      <!-- <div style="color: rgba(233, 86, 42, 0.8);">
        <h3> Quem nós somos </h3>
      </div> -->
      <!-- <div data-sr="enter top" class="quem-somos mdl-card mdl-shadow--2dp "> -->
          <!-- <div class="mdl-card__author mdl-card--expand"> -->
        <div data-sr="enter left, hustle 20px,wait 0.5s" class="mdl-cell mdl-cell--6-col mdl-grid" style="padding:0; margin:0">
          <ul data-orbit>
                    {% for part in main_parts %}
                  <li data-orbit-slide="main-peca-{{ part.id }}">
                    {% thumbnail part.imagens.0.imagem "1200x675" crop="center" as im %}
                    <img src="{{ im.url }}">
                    {% endthumbnail %}
                  </li>{% endfor %}
                </ul>
        </div>
        <div data-sr="enter left, hustle 20px,wait 1.0s" class="mdl-cell mdl-cell--6-col mdl-grid">
          <h3>Nossa Concepção</h3>

          <p  style='text-align: justify'>O Museu “Tronco, ramos e raízes!” tem um formato digital e dedica-se à conservação, investigação, difusão e exposição da cultura imaterial das referências indígenas e afro-brasileiras do Seridó, no Estado do Rio Grande do Norte, Brasil. Seu princípio fundamental é disponibilizar gratuitamente informações sobre as práticas culturais, história e memória ligadas às populações seridoenses de procedência indígena e afro-brasileira.
          </p>
          <div style="  position: absolute;  right: 20px;  bottom: 20px;">
            <a href='/apresentacao/institutional/conception' class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"> leia mais </a>
          </div>
        </div>
        <!-- </div> -->
      <!-- </div>     -->
  </div>
</section>
<!-- informações peca -->
<section id="infocoletanea">
  <div data-sr='' class="mdl-grid">
      <div class="mdl-cell mdl-cell--12-col mdl-grid">
        <div style="width:100%">
          <h3> Nossas Coletâneas dispõe de peças</h3>
          <h6>Tais como: Vídeos, fotos, áudios e documentos</h6>
        </div>
      </div>

        <div data-sr="enter left, hustle 20px" class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-grid">
          <div style="width:100%">
            <i class="fa fa-video-camera" style="font-size: 100px"></i>
          </div>
        </div>
        <div data-sr="enter left, hustle 20px,wait 0.2s" class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-grid">
          <div style="width:100%">
            <i class="fa fa-camera-retro" style="font-size: 100px"></i>
          </div>
        </div>
        <div data-sr="enter left, hustle 20px,wait 0.3s" class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-grid">
          <div style="width:100%">
            <i class="fa fa-file-audio-o" style="font-size: 100px"></i>
          </div>
        </div>
        <div data-sr="enter left, hustle 20px,wait 0.4s" class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-grid">
          <div style="width:100%">
            <i class="fa fa-file-text-o" style="font-size: 100px"></i>
          </div>
        </div>  
  </div>
</section>
<!-- Fim de informações peca -->
<!-- coletaneas -->

<section id="exposicoes">
    <div data-sr=''class="mdl-cell mdl-cell--12-col mdl-grid">
        <div style="width:100%; padding-top:10px">
          <h3> Útimas Coletâneas</h3>
        </div>
    </div>
  <div class="mdl-grid" style="background: white; padding:0">
<!--     <div data-sr="enter left, hustle 20px" style="padding:10px;">
      <h3> Últimas Exposições Adicionadas</h3>
    </div> -->
      {% if collectaneas %}
        {% for collectanea in collectaneas %}
          <div class="expo-img">
            <a href='/apresentacao/collectanea/{{ collectanea.pk }}/'>
                {% thumbnail collectanea.pecas.all.0.imagens.0.imagem "600x600" crop="center" as im %}
                  <img data-sr='' src="{{ im.url }}" style="width: 100%">
                  <div class="info">
                    <h5>{{ collectanea.nome|truncatechars:45 }}</h5>
                    
                  </div>
                  <div class="author">Criada em {{ collectanea.data_criacao|date:'d \d\e F \d\e Y' }}</div>
                {% endthumbnail %}
            </a>
          </div>
        {% endfor %}
      {% endif %}
  </div>
</section>
<!-- fim coletanea -->

<!-- Noticias -->
<section id="ultimanoticia">
    <div data-sr=''class="mdl-cell mdl-cell--12-col">
      <div style="width:100%; padding-top:30px">
        <h3> Útimas Notícias</h3>
      </div>
    </div>
    <div class="mdl-grid">
      {% if news %}
        {% for new in news %}
          <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet">
            <strong><h5>{{ new.titulo }}</h5></strong>
            <p class='date' style="margin-bottom:0">{{ new.data_de_criacao|date:'d \d\e F \d\e Y'  }}</p>
            <a href='/apresentacao/new/{{ new.pk }}/' class='underline'>continue lendo</a>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  
</section>
<!-- Fim noticias -->

<!-- Equipe -->
<section id="equipe">
  <div data-sr='' class="mdl-grid equipecont">
      <div class="mdl-cell mdl-cell--12-col mdl-grid">
        <div style="width:100%">
          <h3> Nossa Equipe</h3>
        </div>
      </div>

      <div data-sr="enter left, hustle 20px" class="mdl-cell mdl-cell--4-col mdl-cell--3-col-tablet mdl-grid">
        <div class="expoe-img">
            <img src="/static/apresentacao/img/julie.jpg" style="border-radius: 130px; width: 130px">
            <div class="authore">Dra. Julie Antoinette Cavignac </div>
        </div>
      </div>
        
        <div data-sr="enter left, hustle 20px,wait 0.2s" class="mdl-cell mdl-cell--4-col mdl-cell--3-col-tablet mdl-grid">
          <div class="expoe-img">
              <img src="/static/apresentacao/img/muri.jpg" style="border-radius: 130px; width: 130px">
              <div class="authore">Dr. Muirakytan Kennedy de Macedo </div>
          </div>
        </div>
        
        <div data-sr="enter left, hustle 20px,wait 0.3s" class="mdl-cell mdl-cell--4-col mdl-cell--3-col-tablet mdl-grid">
          <div class="expoe-img">
              <img src="/static/apresentacao/img/rummenigge.jpg" style="border-radius: 130px; width: 120px">
              <div class="authore">Dr. Rummenigge Rudson Dantas </div>
          </div> 
        </div>
  </div>
</section>
  {% endblock %}
