{% extends 'base-presentation.html' %}

{% block title %}
    Bem-vindo ao museu {{ informations.nome|lower }}
{% endblock %}

{% block header %}
    {% include 'apresentacao/partials/header.html' %}
{% endblock %}

{% block container %}
<div id="orbit-descricoes">
<div class="mdl-grid" style="padding:0; padding-top:41px">

  <div class="controls mdl-cell mdl-cell--4-col" style="background:#382F2F; opacity: 5.9;margin:0" >
      <a data-orbit-link="concepcao" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        <i class="fa fa-pencil-square-o" style="font-size:20px;"></i>&nbsp;&nbsp;&nbsp;&nbsp;  concepção
      </a>
      <a data-orbit-link="quemsomosnos" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        <i class="fa fa-users" style="font-size:20px;"></i>&nbsp;&nbsp;&nbsp;&nbsp; Quem nos somos
      </a>
      <a  data-orbit-link="missao" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
         <i class="fa fa-cubes" style="font-size:20px;"></i>&nbsp;&nbsp;&nbsp;&nbsp;  missão
      </a>
      <a data-orbit-link="objetivos" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        <i class="fa fa-map" style="font-size:20px;"></i>&nbsp;&nbsp;&nbsp;&nbsp; objetivos
      </a>
      <a data-orbit-link="descricaotecnica" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        <i class="fa fa-cogs" style="font-size:20px;"></i>&nbsp;&nbsp;&nbsp;&nbsp; descrição técnica
      </a>
      <a data-orbit-link="caracacervo" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        <i class="fa fa-university" style="font-size:20px;"></i>&nbsp;&nbsp;&nbsp;&nbsp;características do acervo
      </a>
    </div>


 <div data-sr="enter right, hustle 20px,wait 0.5s" class="mdl-cell mdl-cell--8-col"  style="padding:0; margin:0">
  <div class="orbit-container">
    <ul class="example-orbit-content" data-orbit >
      <li data-orbit-slide="concepcao">
        <div>
          <h3> Concepção</h3>
          <p>{{ informations.concepcao|safe }}</p>
        </div>
      </li>
      <li data-orbit-slide="quemsomosnos">
        <div>
          <h3>{{ informations.nome }}</h3>
          <h6 style="margin-top:-12px">Fundado em {{ informations.data_fundacao }}</h6>
          <p class='text-justify'>{{ informations.apresentacao|safe }}</p>
        </div>
      </li>
      <li data-orbit-slide="missao">
        <div>
          <h3>Missão</h3>
          <p>{{ informations.missao|safe }}</p>
        </div>
      </li>
      <li data-orbit-slide="objetivos">
        <div>
          <h3>Objetivos</h3>
          <p>{{ informations.objetivos|safe }}</p>
        </div>
      </li>
      <li data-orbit-slide="descricaotecnica">
        <div>
          <h3>Descrição Técnica</h3>
          <p>{{ informations.descricao_tecnica|safe }}</p>
        </div>
      </li>
      <li data-orbit-slide="caracacervo">
        <div>
          <h3>Características do Acervo</h3>
          <p>{{ informations.caracteristicas_acervo|safe }}</p>
        </div>
      </li>
    </ul>
  </div>
</div>
</div>
</div>
{% endblock %}

{% block footer %}
    {% include 'apresentacao/partials/footer.html' %}
{% endblock %}

{% block css %}
{% endblock %}

{% block js %}
{% endblock %}