{% extends 'base-presentation.html' %}

{% block title %}
    Bem-vindo ao museu {{ informations.nome|lower }}
{% endblock %}

{% block header %}
    {% include 'apresentacao/partials/header.html' %}
{% endblock %}

{% block container %}
    <div id='container' class='clearfix'>
        {% if new %}
            <section class='latest-news'>
                <header class='row'>
                    <h5>{{ new.titulo }}</h5>
                    <span class='arrow-down'></span>
                    <span class='arrow-down-inner'></span>
                </header>
                <ul class='row collapse'>
                    <li class='column'>
                        <figure>
                            <figcaption>
                                <h6 class='text-justify'>{{ new.descricao }}</h6>
                                <p class='date'>{{ new.data_de_criacao|date:'d \d\e F \d\e Y'  }}</p>
                            </figcaption>
                        </figure>
                    </li>
                </ul>
            </section>
        {% endif %}
    </div>
{% endblock %}

{% block footer %}
    {% include 'apresentacao/partials/footer.html' %}
{% endblock %}

{% block css %}
{% endblock %}

{% block js %}
{% endblock %}