{% extends 'base-presentation.html' %}

{% load thumbnail %}

{% block title %}
    Bem-vindo ao museu {{ informations.nome|lower }}
{% endblock %}

{% block header %}
    {% include 'apresentacao/partials/header.html' %}
{% endblock %}

{% block container %}
 <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp" style="padding-top:64px;background-color:#fff;">
  <div class="noticias-completas mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone" style="width:100%">
    <div data-sr="enter left, hustle 20px" class="mdl-card__supporting-text" style="width:100%; padding-top:53px">
      <h4>{{new.titulo}}</h4>
      {% if new %}
        <h6 style="text-align:justify">{{ new.descricao }}</h6>                    
      {% endif %}
      <p class='date' style="text-align:right">{{ new.data_de_criacao|date:'d \d\e F \d\e Y'  }}</p> 
    </div>           
  </div>          
</section>

<!-- {% for part in new.pecas.all %}
        <li class='large-12 medium-12 small-24 columns'>
            <a href='/apresentacao/part/{{ part.id }}/'>
                <figure>
                    <figcaption>
                        <h5>{{ part.titulo|truncatechars:45 }}</h5>
                        <p>{{ part.descricao|truncatechars:100 }}</p>
                        <span class='arrow-down'></span>
                    </figcaption>
                    {% thumbnail part.imagens.0.media "570x320" crop="center" as im %}
                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                    {% endthumbnail %}
                </figure>
            </a>
        </li>   
{% endfor %}-->
                               
{% endblock %}

{% block footer %}
    {% include 'apresentacao/partials/footer.html' %}
{% endblock %}

{% block css %}
{% endblock %}

{% block js %}
{% endblock %}

