{% extends 'base-presentation.html' %}

{% load thumbnail %}

{% block title %}
    Bem-vindo ao museu {{ informations.nome|lower }}
{% endblock %}

{% block header %}
    {% include 'apresentacao/partials/header.html' %}
{% endblock %}

{% block container %}
<link rel="stylesheet" href="{{ STATIC_URL }}apresentacao/stylesheets/lightbox.css">
<!-- <div id="orbit-coletaneas">
<div class="mdl-grid" style="padding:0">

  <div class="controls mdl-cell mdl-cell--12-col" style="background:#37474F; margin:0;width: 900px;" >
      <a data-orbit-link="fotos" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        <i class="fa fa-pencil-square-o" style="font-size:20px;"></i>&nbsp;&nbsp;&nbsp;&nbsp; Fotos
      </a>
      <a data-orbit-link="videos" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        <i class="fa fa-users" style="font-size:20px;"></i>&nbsp;&nbsp;&nbsp;&nbsp; Vídeos
      </a>
      <a  data-orbit-link="audios" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
         <i class="fa fa-cubes" style="font-size:20px;"></i>&nbsp;&nbsp;&nbsp;&nbsp;  Áudios
      </a>
      <a data-orbit-link="documentos" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        <i class="fa fa-map" style="font-size:20px;"></i>&nbsp;&nbsp;&nbsp;&nbsp; Documentos
      </a>
    </div>

</div>
</div> -->
<div id="orbit-coletaneas">
    <div class="controls-ct mdl-cell mdl-cell--12-col" style="margin:0;width: 900px;" >
        <div class='mdl-grid' style="padding:0">
               <div class="controls mdl-cell mdl-cell--12-col" style="background:#37474F; margin:0;" >

                        <a href='/apresentacao/part/{{ part.pk }}/collectanea/{{ collectanea.pk }}/photos' {% if section == 'photos' %} {% endif %}  class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                        {% if not part.imagens %}
                           disabled
                        {% endif %}
                        >
                        <i class="fa fa-camera-retro" style= "font-size: 25px;"></i></i>&nbsp;&nbsp;&nbsp;&nbsp;Fotos</a>
                 
                        <a href='/apresentacao/part/{{ part.pk }}/collectanea/{{ collectanea.pk }}/videos' {% if section == 'videos' %} {% endif %}  class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                        {% if not part.videos %}
                            disabled
                        {% endif %}
                        >
                        <i class="fa fa-video-camera" style="font-size: 25px"></i>&nbsp;&nbsp;&nbsp;&nbsp;Vídeos</a>
                        
                        <a href='/apresentacao/part/{{ part.pk }}/collectanea/{{ collectanea.pk }}/audios' {% if section == 'audios' %} {% endif %}  class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                        {% if not part.audios %}
                           disabled
                        {% endif %}
                        >
                        <i class="fa fa-file-audio-o" style="font-size: 25px"></i>&nbsp;&nbsp;&nbsp;&nbsp;Áudios</a>
                        
                        <a href='/apresentacao/part/{{ part.pk }}/collectanea/{{ collectanea.pk }}/documents' {% if section == 'documents' %}  {% endif %}  class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                        {% if not part.documentos %}
                            disabled
                        {% endif %}
                        >
                        <i class="fa fa-file-text-o" style="font-size: 25px"></i>&nbsp;&nbsp;&nbsp;&nbsp;Documentos</a>
                        
                    
               
            </div>
            <div class="controls mdl-cell mdl-cell--12-col" style="padding:60px">
                
                   <!--  <header class='row'>
                        {% if section == 'photos' %}
                            <h4>Fotos</h4>
                        {% elif section == 'videos' %}
                            <h4>Vídeos</h4>
                        {% elif section == 'audios' %}
                            <h4>Áudios</h4>
                        {% elif section == 'documents' %}
                            <h4>Documentos</h4> 
                        {% elif section == 'iphan-informations' %}
                            <h4>Informações do IPHAN</h4>
                        {% endif %}
                    </header> -->
                    
                        {% if section == 'photos' %}
                            {% for image in part.imagens.all %}
                            
                                {% thumbnail image.imagem "800x600" as im_big %}
                                    {% thumbnail image.imagem "200x200" crop="center"   as im %}
                                        <a 
                                            href="{{ im_big.url }}" 
                                            data-lightbox="example-set" 
                                            data-title="Autor: {% firstof image.autor "Não informado" %} <br> Data: {% firstof image.data "Não informado" %} <br> Descrição: {% firstof image.descricao "Não informado" %} ">

                                            <img class="example-image" src="{{ im.url }}" alt="" style="padding:10px" />
                                        </a>
                                    {% endthumbnail %}
                                {% endthumbnail %}
                               
                            {% endfor %}

                        {% elif section == 'videos'%}
                            {% for video in part.videos.all %}
                                {% if video.video %}
                                    <video class='column' style="margin-top:13px" controls
                                        <source src='/media/{{ video.video }}' type='video/mp4'>
                                        <source src='/media/{{ video.video }}' type='video/ogg'>
                                        <p>Seu navegador não suporta vídeos H.264/MP4.</p>
                                    </video>

                                {% elif video.youtube %}
                                    <iframe src='{{ video.youtube }}' width='560' height='315' frameborder='0' allowfullscreen></iframe>
                                {% elif video.vimeo %}
                                    <iframe src='{{ video.vimeo }}' width='560' height='315' frameborder='0' webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                {% endif %}
                                    <div class="row">
                                    <div style=" margin: 0px 122px 0px 122px; border:2px solid #aaa; padding: 10px; ">
                                    <div style="text-align: justify;font-size:20px">
                                    <font size="3"> Autor: {% firstof video.autor "Não informado" %}</font><br>
                                    <small>Data: {% firstof video.data "Não informado" %}</small> <br>
                                    <small>Descrição: {% firstof video.descricao "Não informado" %}</small></div></div>

                            {% endfor %}
                        {% elif section == 'audios' %}
                            {% for audio in part.audios.all %}
                                <audio class='column' style="margin-top:13px" controls>
                                    <source src='/media/{{ audio.audio }}' type="audio/ogg">
                                    <source src='/media/{{ audio.audio }}'type="audio/mpeg">
                                    <p>Seu navegador não suporta àudios.</p>
                                </audio>
                                    <div class="row" style="text-align:left">
                                    <div style=" margin: 1.5px 150px 0px 150px; border:2px solid #aaa; padding: 10px; ">
                                    <font size="3"> Autor: {% firstof audio.autor "Não informado" %}</font>
                                    <div style="text-align: justify;font-size:20px">
                                    <small>Data: {% firstof audio.data "Não informado" %}</small> <br>
                                    <small>Descrição: {% firstof audio.descricao "Não informado" %}</small></div></div>
                            {% endfor %}

                        {% elif section == 'documents' %}
                            {% for document in part.documentos.all %}
                                <embed class='large-24 large-centered column' style="margin-top:13px" height='700' src='/media/{{ document.documento }}' alt='pdf' pluginspage='http://www.adobe.com/products/acrobat/readstep2.html'>
                           
                                    <div class="row" style="text-align:left">
                                    <div style=" margin: 1.5px 15px 0px 15px; border:2px solid #708090; padding: 10px; ">
                                    <font size="3"> Autor: {% firstof document.autor "Não informado" %}</font>
                                    <div style="text-align: justify;font-size:20px">
                                    <small>Data: {% firstof document.data "Não informado" %}</small> <br>
                                    <small>Descrição: {% firstof document.descricao "Não informado" %}</small></div></div>  
                            {% endfor %}
                        {% endif %}
                    </div>
              
            </div>
        </div>
    </div>
    </div> 
</div>
 <script src="{{ STATIC_URL }}apresentacao/js/lightbox.min.js"></script>
{% endblock %}

{% block footer %}
    {% include 'apresentacao/partials/footer.html' %}
{% endblock %}


{% block css %}
{% endblock %}

{% block js %}
{% endblock %}