<ul class="thin-buttons grid_20 alpha omega" style="min-height:330px;">
{% if noticias %}
	{% for noticia in noticias %}

	<li id="noticia{{ coletanea.id }}" class="grid_20 alpha omega">		
		<div class="desc grid_17 omega">
			<a href="/criacao/ver_noticia/{{ noticia.id }}" title="Ver">
				<h4>{{ noticia.titulo }}</h4>
			</a>	
			<p class="grid_17 alpha omega">{{ noticia.descricao_breve }}</p>
		</div>
		<div class="actions grid_2 alpha">
			<a class="grid_3 alpha omega" href="/criacao/noticia/editar/{{ noticia.id }}/" title="Editar">
				<span class="orange" data-icon='+'></span>		
			</a>
			<a class="grid_3 alpha omega" href="javascript: return false;" data-get="/criacao/noticia/excluir/{{ noticia.id }}/" data-confirm="Tem certeza que deseja apagar esta notícia?" data-remove="#noticia{{ coletanea.id }}" data-success="Notícia deletada com sucesso!" title="Excluir">
				<span class="orange" data-icon="'"></span>
			</a>
		</div>
	</li>

	{% endfor %}
{% endif %}			

</ul>
<div class="grid_20 alpha omega clearfix pagination-centered">
	<ul class="pagination">
		{% if noticias.has_previous %}
			<li class="arrow"><a data-get="/criacao/noticia/listar/{{ noticias.previous_page_number }}/" data-target="#listagem-de-noticias">&laquo;</a></li>
		{% else %}
			<li class="arrow unavailable"><a>&laquo;</a></li>
		{% endif %}

		{% if noticias.has_less_ten %}						
			<li><a data-get="/criacao/noticia/listar/{{ noticias.has_less_ten }}/" data-target="#listagem-de-noticias">{{ noticias.has_less_ten }}</a></li>
			<li><a data-get="/criacao/noticia/listar/{{ noticias.has_less_ten | add:"1" }}/" data-target="#listagem-de-noticias">{{ noticias.has_less_ten | add:"1" }}</a></li>
			<li class="unavailable"><a>&hellip;</a></li>
		{% endif %}

		{% if noticias.has_less_three %}
			<li><a data-get="/criacao/noticia/listar/{{ noticias.has_less_three }}/" data-target="#listagem-de-noticias">{{ noticias.has_less_three }}</a></li>
		{% endif %}


		{% if noticias.has_less_two %}
			<li><a data-get="/criacao/noticia/listar/{{ noticias.has_less_two }}/" data-target="#listagem-de-noticias">{{ noticias.has_less_two }}</a></li>
		{% endif %}


		{% if noticias.has_previous %}
			<li><a data-get="/criacao/noticia/listar/{{ noticias.previous_page_number }}/" data-target="#listagem-de-noticias">{{ noticias.previous_page_number }}</a></li>
		{% endif %}

		<li class="current"><a>{{ noticias.page }}</a></li>

		{% if noticias.has_next %}
			<li><a data-get="/criacao/noticia/listar/{{ noticias.next_page_number }}/" data-target="#listagem-de-noticias">{{ noticias.next_page_number }}</a></li>
		{% endif %}

		{% if noticias.has_more_two %}
			<li><a data-get="/criacao/noticia/listar/{{ noticias.has_more_two }}/" data-target="#listagem-de-noticias">{{ noticias.has_more_two }}</a></li>
		{% endif %}

		{% if noticias.has_more_three %}
			<li><a data-get="/criacao/noticia/listar/{{ noticias.has_more_three }}/" data-target="#listagem-de-noticias">{{ noticias.has_more_three }}</a></li>
		{% endif %}

		{% if noticias.has_more_ten %}
			<li class="unavailable"><a>&hellip;</a></li>
			<li><a data-get="/criacao/noticia/listar/{{ noticias.has_more_ten }}/" data-target="#listagem-de-noticias">{{ noticias.has_more_ten }}</a></li>
			<li><a data-get="/criacao/noticia/listar/{{ noticias.has_more_ten | add:"1" }}/" data-target="#listagem-de-noticias">{{ noticias.has_more_ten | add:"1" }}</a></li>
		{% endif %}

		{% if noticias.has_next %}
			<li class="arrow"><a data-get="/criacao/noticia/listar/{{ noticias.next_page_number }}/" data-target="#listagem-de-noticias">&raquo;</a></li>
		{% else %}
			<li class="arrow unavailable"><a>&raquo;</a></li>
		{% endif %}					
	</ul>
</div>