$lighter-black: #222222;
$light-black: 	#474747;
$black: 		#000000;

$blue:			#199CD8;
$dark-blue: 	#032373;

$white:         #ffffff;
$darker-white:  #fafafa;
$darkest-white: #f2f2f2;

$lighter-gray:  #e4e4e4;
$gray:          #505050;
$dark-gray:     #6e6e6e;

$orange:        #E9562A;

