body {
    // background-image: url('../img/bg/light_grey.png');
    background-repeat: repeat;

    word-wrap: break-word;

    -webkit-font-smoothing: antialiased;
       -moz-font-smoothing: antialiased;
        -ms-font-smoothing: antialiased;
            font-smoothing: antialiased;

    h1, h2, h3, h4, h5, h6, p {
        word-wrap: break-word;
    }

    p {
        color: $gray;
    }

    a:hover {
        color: $orange;
    }

    a.underline {
        text-decoration: underline;
    }

    .arrow-down,
    .arrow-down-inner {
        position: absolute;
        left: 20px;
        bottom: -10px;
        z-index: 2;
    }

    .arrow-down,
    .arrow-down-inner {
        width: 0;
        height: 0;
        border-left: 9px solid transparent;
        border-right: 9px solid transparent;
        border-top: 10px solid #FFFFFF;
    }

    .arrow-down-inner {
        border-top: 9px solid #e4e4e4 !important;
        z-index: 1;
        left: 20px;
        bottom: -9px;
    }

    .arrow-down {
        position: absolute;
        bottom: -8px;
    }

	// figure {
	// 	margin: 0;
	// 	position: relative;
	// 	background: whitesmoke;

	// 	& figcaption {
	// 		position: absolute;
	// 		text-align: center;
	// 		word-wrap: break-word;
	// 		text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
	// 		padding: 20% 10% 0 10%;
	// 		top:0;
	// 		width:100%;

	// 		& h6 {
	// 			color: #fff;
	// 			font-weight: 600;
	// 			text-transform: uppercase;

	// 			& a {
	// 				color: #fff;

	// 				&:hover{
	// 					color: #fff;
	// 					text-decoration: underline;
	// 				}
	// 			}
	// 		}



	// 		& hr {
	// 			width: 40px;
	// 			border-width: 3px 0 0;
	// 			border-color: #fff;
	// 			box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
	// 		}
	// 	}

	// 	& div.desc {
	// 		color: #000;
	// 		background: whitesmoke;
	// 		word-wrap: break-word;
	// 		padding:10px;

	// 		& a {
	// 			text-align: right;
	// 			display: block;
	// 		}
	// 	}

	// 	& div.details {
	// 		opacity: 0;
	// 		top: 0;
	// 		position: absolute;
	// 		background: $white;
	// 		height: 100%;
	// 		width: 100%;
	// 		border: 3px solid $blue;
	// 		-webkit-transition: all ease 0.4s;
	// 		-moz-transition: all ease 0.4s;
	// 		-ms-transition: all ease 0.4s;
	// 		-o-transition: all ease 0.4s;
	// 		transition: all ease 0.4s;

	// 		&:hover {
	// 			opacity: 1;
	// 		}

	// 		& h6 {
	// 			padding:20% 10px 0 10px;
	// 			letter-spacing: 3px;
	// 			text-transform: uppercase;
	// 			color: $blue;
	// 		}
	// 	}
	// }
}

