{% extends 'base.html' %} 

{% block title %} 
	museuvirtual | editar coletânea
{% endblock %}

{% block header %}
	<div id="header" class="full clearfix">
		<header  id="main-header" class="row">
			<div id="title-container" class="columns">
			{% if request.user.is_authenticated %}
				<a href="/criacao/sair/" title="Sair.">
					<span class="orange p15" data-icon='%'></span>
				</a>
			{% endif %} 	
				<h3>
					museu
					<span>
						{{ museu_nome | lower }}
					</span>	
				</h3>		
			</div>						
		</header>
	</div>
{% endblock %}

{% block menu %}
	<div id="menu" class="full clearfix">
		<section id="main-menu" class="row">
			<div id="logo-container" class="large-6 columns">
				<h2 class="float-left">museu<span>virtual</span></h2>
				<div class="separator float-left"></div>
				<h2 class="float-left">criação</h2>
			</div>
			<nav class="large-14 columns">
				<ul>
					<li><a href="/apresentacao/" target="_blank" title="Visualizar publicação do museu">Museu publicado</a></li>
					<li><a href="/criacao/link/listar/" title="Área de links">Links</a></li>
					<li><a href="/criacao/noticia/listar/" title="Área de notícias">Notícias</a></li>
					<li><a href="/criacao/coletanea/listar/" class="active">Coletâneas</a></li>				
					<li><a href="/criacao/informacoes/listar/" title="Área de informações do museu">Informações do museu</a></li>
					<li><a href="/criacao/inicio/" title="Ir para tela inicial">Inicial</a></li>
				</ul>
			</nav>
		</section> 
	</div>	
{% endblock %}

{% block container %}
	<div id="container" class="background_black full clearfix">
		<article id="content_main">		
			<section id="header" class="row">		
				<h1 class="white large-16 columns">
					<div class="left">
						<span class="orange-bar">\</span>
						Edição de coletânea
					</div>
					<div class="left button-help">
						<a class='white' data-help data-icon="b"></a>
					</div>
				</h1>
				<h4 class="white large-4 columns">
					<a class="white" href="/criacao/coletanea/listar/" title="Voltar à página anterior.">
						<span class="orange p15" data-icon='-'></span>
						Voltar 
					</a>
					<div>|</div>
					<a class="white" href="javascript: return false;" data-post="#new_collectanea_form" title="Salvar coletânea.">
						<span class="orange p15" data-icon='*'></span>
						Salvar
					</a>
				</h4>
			</section>
			<section id="main" class="row">
				<form id="new_collectanea_form" class="new_collectanea_form white columns" action="/criacao/coletanea/editar/{{ coletanea.pk }}/" method="post" accept-charset="utf-8">
					{% csrf_token %}

					<div class="large-10 columns">
						{% if coletanea.nivel == 0 %}
							<div style="display:none;">
						{% else %}
							<div>
						{% endif %}
							{{ form.nome }}
						</div>
					
				    	{{ form.descricao }}
					</div>

					<div class="large-10 columns">
						{% if coletanea.nivel == 0 %}
							<div style="display:none;">
						{% else %}
							<div>
						{% endif %}					
						  	{{ form.inicio_exposicao }}

						  	{{ form.fim_exposicao }}
				  		</div>
				  		
					  	<label for="informacoes_iphan" class="white" style="margin-top:10px;">
					  		Deseja exibir informações sobre patrimônio imaterial das obras (definidas pelo Iphan)?
					  	</label>
					  	{{ form.informacoes_iphan }}

					  	<label for="informacoes_tecnicas" class="white">
					  		Deseja exibir informações técnicas sobre as obras (peso, altura, largura, profundidade, material e técnica)?
					  	</label>
					  	{{ form.informacoes_tecnicas }}
				  	</div>

				    {% for peca in coletanea.lista_pecas %}
				    	<input class="elemento_peca" type="hidden" name="lista_de_pecas[]" value="{{ peca.numero_registro }}">
				    {% endfor %}
				</form>
				<div class="columns">
					<h3 class="white">Como criar a coletânea</h3>
					<p>
						Preencha primeiramente o formulário acima, adicionando um nome para a coletânea, uma descrição, a data e ínicio (quando a coletânea 
						irá surgir na apresentação) e a data de término da exposição (nesta data a coletânea irá deixar de estar visível na apresentação). 
						Use também das outras opções para customizar a coletânea).
					</p>
					<br>
					<p>
						Após concluir o preenchimento, escolha as obras que estão disponíveis  no acervo abaixo e que irão fazer parte da coletânea.
					</p>
					<br/>
					<p> 				
						Por fim clique em SALVAR localizado na parte superior da página ou na parte inferior.
					</p>
					<br>
				</div>				
				<div class="down-div columns">
			        <h3 class="white">Agora escolha o arcevo da coletânea</h3>
			        <p>
			            Clicando sobre as obras você poderá perceber uma barra a esquerda do nome de cor alaranja, são essas peças selecionadas e alaranjadas que farão parte da coletânea criada por você.
			        </p>
			    </div>
			    <div id="parts" class="columns">
			    <div id='pecas'></div>
					<div id="listagem-de-pecas">
						<a class="init" data-get="/criacao/peca/listar/1/" data-target="#listagem-de-pecas"></a>
					</div>
				</div>
			</section>
			<section id="header" class="row">		
				<h4 class="white columns">
					<a class="white" href="/criacao/coletanea/listar/" title="Voltar à página anterior.">
						<span class="orange p15" data-icon='-'></span> 
					</a>
					<div>|</div>
					<a class="white" href="javascript: return false;" data-post="#new_collectanea_form" title="Salvar coletânea.">
						<span class="orange p15" data-icon='*'></span>Salvar
					</a>
				</h4>
			</section>
		</article>		
	</div>
{% endblock %}

{% block footer %}
	<div id="footer" class="full clearfix">
		<footer class="row">
			<div class="footer-orangeborder">
				<div class="footer-info large-4 columns">
					<a class="row" href="/gerenciamento/" title="Ir à área de gerenciamento.">
						<span class="p15" data-icon="6"></span>
						&nbsp;gerenciamento
					</a>
					
					{% if request.user.is_authenticated %}
					<a class="row" href="/criacao/sair/" title="Sair.">
						<span class="p15" data-icon="%"></span>
						&nbsp;sair
					</a>
					{% endif %}
					
				</div>
				<p class="white large-16 columns">
					© 2013 Museu Virtual. Todos os direitos reservados aos respectivos autores. 
				</p>
			</div>
		</footer>
	</div>	

	<div id="page-loading">
		<div class="loader">Carregando...</div>
	</div>
	<!-- -  -   -    -     -      -      -       -        -        Joyride -->
	<ol class="joyride-list" data-joyride>
		<li data-id="new_collectanea_form" data-text="Próximo">
			<h4>Informações</h4>
			<p>Digite aqui as informações pedidas para criação de uma coletânea.</p>
		</li>
		<li data-id="pecas" data-text="Próximo">
			<h4>Peças</h4>
			<p>Para escolher as peças que irão compor a coletânea, dê um clique sobre elas.</p>
		</li>
		<li data-id="paginacao" data-button="Fim">
			<h4>Mais peças</h4>
			<p>Para ver mais coletâneas, use a numeração de páginas.</p>
		</li>
	</ol>
{% endblock %}

{% block js %} 
	<script>
		$(document).ready(function(){  
		    $('.init').trigger("click");
		});

		$(window).load(function(){
			$('#id_inicio_exposicao').pickadate({
			    formatSubmit: 'dd/mm/yyyy',
				format: 'dd/mm/yyyy',
			})

			$('#id_fim_exposicao').pickadate({
				format: 'dd/mm/yyyy',
			    formatSubmit: 'dd/mm/yyyy',
			})
		});
	</script>
{% endblock %}