<footer class="mdl-mega-footer" style="box-shadow: 0px 0px 12px #888888;">
  <div class="mdl-mega-footer__middle-section mdl-grid"  style="max-width:1200px;">
    <div class="mdl-mega-footer__drop-down-section" style="color:#4D4141;">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading" style="color:#4D4141;font-size:18px">Contato</h1>
      <ul class="mdl-mega-footer__link-list" style="text-align:left">
        <li>UFRN – CCHLA – PPGAS</li>
        <li>Campus Universitário s/n</li>
        <li>Lagoa Nova, Natal/RN - 59078-970</li>
        <li>Telefax: (084) 3342-2242</li>
        <li><a href="/apresentacao/contact" >Entre em contato</a></li>
      </ul>
    </div>
      <div class="mdl-mega-footer__drop-down-section" style="margin-left:20px;color:#4D4141;">
          <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
          <h1 class="mdl-mega-footer__heading" style="color:#4D4141; font-size:18px">Links</h1>
          <ul class="mdl-mega-footer__link-list" style="text-align:left">
          {% for link in links %}
              <a href='{{ link.url }}' target='_blank'>{{ link.name }}</a>
          {% endfor %}
          </ul>
      </div>
      <div class='copyright row'>
        <p>
            © 2015 GTMV. Todos os direitos reservados aos respectivos autores.</h1>
        </p>
    </div>
  </div>
</footer>