<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row" style="box-shadow: 0px 2px 12px #888888;">
  <div class="mdl-cell mdl-cell--12-col mdl-cell--hide-desktop mdl-cell--7-col-tablet mdl-cell--3-col-phone" style="text-align:center" >
    <div style="color:#043F45; font-size:20px">Museu: "Tronco, Ramos e Raízes"</div>
  </div>


      <!-- Title -->
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" href="/apresentacao/home">Inicial</a>
        <a class="mdl-navigation__link" href="/apresentacao/collectaneas">Coletâneas</a>
        <a class="mdl-navigation__link" href="/apresentacao/institutional">Institucional</a>
        <a class="mdl-navigation__link" href="">Jogos Educativos</a>
        <a class="mdl-navigation__link" href="/apresentacao/news">Notícias</a>
        <a class="mdl-navigation__link" href="/apresentacao/contact">Contato</a>
        <div class="mdl-layout-spacer"></div>
      </nav>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                    mdl-textfield--floating-label mdl-textfield--align-right">
          <label class="mdl-button mdl-js-button mdl-button--icon" for="waterfall-exp">
            <i class="material-icons">search</i>
          </label>
          <div class="mdl-textfield__expandable-holder">
            <form class='row collapse' action='/apresentacao/collectaneas/search' method='get' data-default='true'>
              <input class="mdl-textfield__input" type="text" name="keywords" id="waterfall-exp" placeholder='pesquisa' />
              </form>
          </div>
        </div>

    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Museu “Tronco, ramos e raízes”</span>
    <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="/apresentacao/home">Inicial</a>
        <a class="mdl-navigation__link" href="/apresentacao/collectaneas">Coletâneas</a>
        <a class="mdl-navigation__link" href="/apresentacao/institutional">Institucional</a>
        <a class="mdl-navigation__link" href="">Jogos Educativos</a>
        <a class="mdl-navigation__link" href="/apresentacao/news">Notícias</a>
        <a class="mdl-navigation__link" href="/apresentacao/contact">Contato</a>
    </nav>
  </div>
</div>